html {
  height: 100%;
}
body {
  background: #ffffff;
  color: #333333;
  font-family: 'Roboto', "Helvetica", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
}
.wrap {
  margin: 0 auto;
  width: 85%;
  max-width: 1140px;
  position: relative;
  text-align: center;
  overflow: hidden;
}
::-moz-selection {
  background: #3DA9A4;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #3DA9A4;
  color: #fff;
  text-shadow: none;
}
a {
  color: #e67e22;
  text-decoration: none;
  transition: color .15s linear;
}
a.link:before {
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  margin-right: .5em;
}
a:hover {
  color: #ffffff;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover,
a:active {
  outline: 0;
}
h2,
h3 {
  font-family: 'Arimo', "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
  font-weight: 700;
}
h1 {
  font-family: 'Roboto Slab', "Microsoft YaHei", "微软雅黑", SimSun, "宋体", sans-serif;
  font-size: 2em;
  line-height: 1em;
  margin: .5em 0;
  color: #333333;
  letter-spacing: .05em;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 1.5em;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin: .5em 0;
}
h3 {
  padding: 0;
  font-size: 1.2em;
  margin: 10px 0 1em 0;
  color: #e67e22;
}
h4 {
  color: #333333;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 0;
  margin: 0 0 1em 0;
}
p {
  padding-bottom: 0.8em;
}
.left {
  float: left;
}
.right {
  float: right;
}
textarea.error,
input.error {
  background-color: #e1704b;
  color: #FFF;
  /* firefox 19+ */
  /* ie */
}
textarea.error::-webkit-input-placeholder,
input.error::-webkit-input-placeholder {
  color: #FFF;
}
textarea.error::-moz-placeholder,
input.error::-moz-placeholder {
  color: #FFF;
}
textarea.error:-ms-input-placeholder,
input.error:-ms-input-placeholder {
  color: #FFF;
}
textarea.error:-moz-placeholder,
input.error:-moz-placeholder {
  color: #FFF;
}
.circle-icon {
  background: #75c3bf;
  color: #FFF;
  width: 2em;
  height: 2em;
  line-height: 2em;
  font-size: 2em;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  transition: all 0.2s ease-out;
}
.circle-icon:hover {
  transform: rotate(360deg) scale(1.02);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.common-btn {
  min-width: 170px;
  background: rgba(57, 169, 164, 0.95) !important;
  color: #ffffff;
  font-weight: 700;
  border: none;
  border-radius: 0;
  margin: 10px;
  padding: 10px 25px;
  transition: background 500ms linear;
  font-size: 18px;
}
.common-btn.reset {
  background: #d2d6d5 !important;
}
.common-btn:hover,
.common-btn:focus {
  color: #ffffff;
  background: #3B4250!important;
}
/* Header __________________________________________________________ */
header {
  background: #fff;
  overflow: hidden;
  padding: 1.5em 0 1em;
  position: relative;
}
header .wrap {
  text-align: left;
}
header .logo-mark {
  float: left;
  width: 100px;
  height: 100px;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  background-image: url("/images/erealm.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
header .logo-mark:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
header .logo-mark a {
  display: block;
  width: 100%;
  height: 100%;
}
header .intro {
  margin-left: 15%;
}
header .intro span {
  color: #999999;
  display: block;
  font-size: 1.2em;
  letter-spacing: .05em;
  line-height: 1em;
  margin-bottom: .7em;
}
header .git-fock {
  background-color: #a00;
  overflow: hidden;
  /* top left corner */
  position: absolute;
  right: -3em;
  top: 2.5em;
  /* 45 deg ccw rotation */
  transform: rotate(45deg);
  /* shadow */
  box-shadow: 0 0 1em #888;
}
header .git-fock a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% 'Helvetiva Neue', Helvetica, Arial, sans-serif;
  margin: 0.05em 0 0.075em 0;
  padding: 0.5em 3.5em;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 0.5em #444;
}
/* Navigation __________________________________________________________ */
.nav-container nav {
  background: #f1f1f1;
  border-bottom: 1px solid #d2d6d5;
  padding: 0;
  z-index: 999;
  width: 100%;
}
.nav-container nav .sub-logo-mark {
  float: left;
  width: 2.5em;
  height: 2.5em;
  zoom: 1;
  filter: alpha(opacity=90);
  opacity: 0.9;
  background-image: url("/images/erealm.png");
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0.2em;
  margin-left: .4em;
}
.nav-container nav .sub-logo-mark:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}
.nav-container nav .sub-logo-mark a {
  display: block;
  width: 100%;
  height: 100%;
}
.nav-container nav .sub-logo-mark {
  display: none;
}
.nav-container nav.fixed {
  position: fixed;
  top: 0;
}
.nav-container nav.fixed .sub-logo-mark {
  display: inline-block;
}
.nav-container nav ul {
  line-height: 3.5em;
  float: right;
  display: inline-block;
  font-size: .9em;
  letter-spacing: .1em;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  vertical-align: top;
}
.nav-container nav ul a {
  color: #333;
  font-weight: 700;
  text-decoration: none;
  margin: 0 1em;
  padding-bottom: 5px;
}
.nav-container nav ul a:visited {
  color: #333;
}
.nav-container nav ul li {
  line-height: 2em;
  display: inline-block;
  position: relative;
}
.nav-container nav li.active a {
  color: #e67e22;
}
.nav-container nav li:hover a {
  color: #e67e22;
}
.nav-container .nav-link {
  background-repeat: no-repeat;
  background-size: 29px 59px;
  position: absolute;
  right: 0;
  display: inline-block;
  margin: .4em;
  font-size: 1.5em;
  width: 29px;
  height: 21px;
  display: none;
}
.nav-container nav .wrap {
  text-align: left;
}
.nav-container .blog-badge {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #FFF;
  width: 21px;
  height: 21px;
  background: #D55757;
  color: #FFF;
  right: 2px;
  top: -8px;
  text-align: center;
  z-index: 1;
  font-size: 11px;
  font-weight: 700;
  line-height: 17px;
}
.content {
  min-height: 400px;
  position: relative;
  background-color: #ffffff;
}
footer {
  background: #34495e;
  color: #ffffff;
  padding-top: 2.5em;
  clear: both;
  margin-top: 0;
  position: relative;
}
footer .contact ul {
  margin: 0 0 3em 0;
  padding: 0;
}
footer .contact ul li {
  display: inline-block;
  margin: 0.5em 1.5em;
  width: 82px;
}
footer .contact ul li .circle-icon {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  position: relative;
}
footer .contact ul li .circle-icon:hover {
  border: 2px solid #e67e22;
  color: #e67e22;
}
footer .contact p {
  width: 50%;
  margin: 1em auto;
}
footer .copyright {
  background: #2c3e50;
  text-align: center;
  padding: 2em;
}
footer .copyright p {
  font-size: .7em;
  width: 100%;
}
footer .back-top {
  position: fixed;
  font-size: .8em;
  color: #ffffff;
  bottom: 20px;
  right: 20px;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  background: #75d1cd;
  z-index: 1000;
}
.error-info {
  padding: 40px 0;
}
.error-info h1 {
  color: #e67e22;
}
.muti-language {
  position: absolute;
  top: -10px;
  left: 20px;
  color: #A00;
}
.muti-language .btn-group {
  display: block;
}
.muti-language .btn {
  padding-top: 3px;
  padding-bottom: 0;
  border-radius: 0;
}
.muti-language .dropdown-menu {
  border-radius: 0;
}
.page-menu-slide {
  width: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  background-color: #333333;
  color: #FFF;
  box-shadow: inset 0 0 5px 5px #222;
  opacity: 0.9;
  transition: width 100ms linear;
}
.page-menu-slide .nav-slide {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
}
.page-menu-slide .nav-slide li.divider {
  height: 50px;
  border-bottom: 1px solid #5c5c5c;
  background: #CCC;
}
.page-menu-slide .nav-slide li a {
  display: block;
  color: #ffffff;
  padding: 1em 2em ;
  border-bottom: 1px solid #5c5c5c;
}
.page-menu-slide .nav-slide li a:hover {
  w-color: #6a6a6a;
}
.overlay-message {
  position: fixed;
  z-index: 1001;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay-message .loader {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -30px;
  padding: 0;
  width: 100px;
  list-style: none;
}
.overlay-message li {
  background-color: #ffffff;
  width: 15px;
  height: 10px;
  float: right;
  margin: 0 8px;
  box-shadow: 0px 100px 20px rgba(0, 0, 0, 0.2);
}
.overlay-message li:first-child {
  animation: loadbars 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) infinite 0s;
}
.overlay-message li:nth-child(2) {
  animation: loadbars 0.6s ease-in-out infinite -0.2s;
}
.overlay-message li:nth-child(3) {
  animation: loadbars 0.6s ease-in-out infinite -0.4s;
}
@keyframes loadbars {
  0% {
    height: 10px;
    margin-top: 25px;
  }
  50% {
    height: 70px;
    margin-top: 0px;
  }
  100% {
    height: 10px;
    margin-top: 25px;
  }
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: #000;
  bottom: 0;
}
.message-modal {
  margin: 100px auto;
  text-align: left;
}
.message-modal .modal-dialog {
  max-width: 450px;
}
.message-modal .modal-header {
  background-color: #428bca;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.message-modal .modal-header .glyphicon::before {
  margin-right: 5px;
  content: "\e107";
}
.message-modal .modal-title::after {
  content: '消息';
}
.message-modal h4 {
  color: #ffffff;
}
.message-modal .modal-body {
  padding: 20px 15px;
  color: #3a87ad;
  word-wrap: break-word;
  word-break: break-all;
}
.message-modal.error .modal-header {
  background-color: #d2322d;
}
.message-modal.error .modal-header .glyphicon::before {
  content: "\e107";
}
.message-modal.error .modal-title::after {
  content: '错误';
}
.message-modal.error .modal-body {
  color: #b94a48;
}
.message-modal.warning .modal-header {
  background-color: #f0ad4e;
}
.message-modal.warning .modal-header .glyphicon::before {
  content: "\e123";
}
.message-modal.warning .modal-title::after {
  content: '警告';
}
.message-modal.warning .modal-body {
  color: #8a6d3b;
}
.message-modal.success .modal-header {
  background-color: #3c763d;
}
.message-modal.success .modal-header .glyphicon::before {
  content: "\e067";
}
.message-modal.success .modal-title::after {
  content: '成功';
}
.message-modal.success .modal-body {
  color: #63B264;
}
.message-modal.confirm .modal-header {
  background-color: #f0ad4e;
}
.message-modal.confirm .modal-header .glyphicon::before {
  content: "\e123";
}
.message-modal.confirm .modal-title::after {
  content: '确认';
}
.message-modal.confirm .modal-body {
  color: #8a6d3b;
}
.message-modal.confirm .modal-footer {
  display: block;
}
@media print {
  .footer,
  .main-content .sidebar,
  .main-content .navbar,
  .report-form,
  .panel-footer,
  .back-top {
    display: none;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.5em;
  }
  h3 {
    font-size: 1.1em;
  }
  .wrap {
    width: 100%;
    padding: 0 1%;
  }
}
@media only screen and (max-width: 768px) {
  header .git-fock {
    display: none;
  }
  header .logo-mark {
    float: none;
    width: 80px;
    height: 80px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 1em;
  }
  header .intro {
    margin: 0;
    text-align: center;
  }
  footer .contact p {
    width: 85%;
  }
}
/* Smartphones ----------- */
@media only screen and (max-width: 580px) {
  h1 {
    font-size: 1.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  .muti-language {
    display: none;
  }
  header {
    padding: 1em 0;
  }
  header .wrap .logo-mark {
    display: none;
  }
  header .wrap .intro {
    text-align: center;
    margin-left: auto;
    margin-top: 4em;
  }
  .nav-container {
    height: auto;
  }
  .nav-container nav {
    position: fixed;
    z-index: 99;
    top: 0;
    width: 100%;
  }
  .nav-container nav ul {
    display: none;
  }
  .nav-container nav .sub-logo-mark {
    display: inline-block;
  }
  .nav-container .nav-link {
    display: inline-block;
  }
  .page-menu-slide.show {
    width: 200px;
  }
  footer ul li {
    margin-left: .2em;
    margin-right: .2em;
  }
}
body {
  font-size: 16px;
}
h1 {
  font-size: 1.5em;
  text-align: center;
  margin: .2em 0;
}
h2 {
  font-size: 1.2em;
  margin: .2em 0;
  text-align: center;
}
h3 {
  font-size: 1.1em;
}
.admin-body {
  padding-top: 50px;
}
.admin-body .section-inner {
  max-width: 1248px;
  margin: 0 auto;
}
.table-head th {
  text-align: center;
}
.table {
  text-align: center;
  table-layout: fixed;
}
.table td input,
.table td button {
  max-width: 100%;
  min-width: 0;
}
.rightcontent {
  min-height: 500px;
}
.trashcolor {
  color: red;
  font-size: 20px;
}
.form-horizontal .formgroupselect {
  border-bottom: none;
  margin-bottom: 20px;
}
.reportdate::before {
  content: "--";
  display: inline-block;
  position: absolute;
  left: -5px;
  top: 10px;
  color: #000000;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*
 * Sidebar
 */
/* Hide for mobile, show later */
.sidebar {
  display: none;
  text-align: right;
}
.sidebar.show {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
  text-align: center;
}
@media (min-width: 768px) {
  .navbar-nav .mobile-nav {
    display: none;
  }
  .sidebar {
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}
/*
 * Main content
 */
.admin-body .main {
  margin-top: 20px;
}
.admin-body .main .page-header {
  margin-top: 0;
}
.login-form {
  max-width: 500px;
  margin: 0 auto;
}
.login-form .panel-body {
  padding-top: 30px;
}
.login-form .input-group {
  margin-bottom: 25px;
}
.user-form {
  top: 0;
}
.logs-form .form-group {
  margin: 20px 0;
  border-bottom: none;
}
.logs-text {
  max-height: 600px;
  overflow: auto;
}
.panel-body .formgroup-password {
  border-bottom: none;
  margin: 10px 0;
}
