<aside id="ota_aside">
    <div id="sidebar" class="navbar-collapse">
        <ul class="sidebar-menu">
            <h5 class="center">设备管理</h5>

            <li class="first">
                <a class="active" href="/dm/device_manager">
                    <i class="fa fa-dashboard"></i>
                    <span>OTA</span>
                </a>
            </li>
            <li class="first">
                <a  href="/dm/user_device">
                    <i class="fa fa-dashboard"></i>
                    <span>设备升级</span>
                </a>
            </li>
        </ul>
    </div>
</aside>