<div id="device_manager">
    <%-include device_manager_sidebar.html%>
    <div class="ota-body">
        <div class="ota-title">
            <p>设备管理 /OTA/添加版本</p>
        </div>
        <div class="ota-content">
            <form class="form-horizontal showcase-form" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label">产品型号</label>

                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="">--请选择产品型号--</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">升级类型</label>

                    <div class="col-sm-4">
                        <select class="form-control">
                            <option value="0">完整升级</option>
                            <option value="1">差分升级</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">版本号</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">描述</label>

                    <div class="col-sm-4">
                        <textarea rows="3" type="text" class="form-control"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">文件</label>

                    <div class="col-sm-4">
                        <input type="text" class="form-control" readonly="readonly">
                    </div>
                    <button class="btn btn-default" >选择</button>
                    <button class="btn btn-default">上传</button>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-1">
                        <button class="btn btn-success form-control">保存</button>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-default form-control">取消</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>