
<form role="form"  class="form-horizontal" ng-controller="addDevice">
    <div class="form-group ">
        <label>设备注册</label>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">id</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="device_id">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">user</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" ng-model="device_user">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
            <button type="button " class="btn btn-success submit" ng-click="register()">注册</button>
        </div>
    </div>
</form>
<p>{{device_id}}</p>